.btn {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 10px 16px;

  color: #fff;
  font-weight: 700;

  border-radius: 8px;
  background-color: var(--primary);

  transition-duration: 0.425s;
  cursor: pointer;

  &:hover,
  &:focus {
    transform: scale(1.05);
  }
}

.btn--contact {
  min-width: 111px;
  max-width: 248px;
  height: 40px;

  font-size: 14px;
  line-height: 20px;

  &.large {
    padding: 13px 16px;
  }
}